In [8]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db = myclient["Telephone_Directory"]

mycol = db["User_details"]

In [10]:
mydict = { "name": "Albert", "Phone Number": "555-884-4512","Place":"New York" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6384dd770e764400cbcf7acf

In [13]:
mylist = [
    { "name": "George", "Phone Number": "445-878-6589","Place":"Florida" },
    { "name": "Jane", "Phone Number": "554-567-7894","Place":"Austin"},
    { "name": "Llyod", "Phone Number": "558-898-4575","Place":"New York" },
    { "name": "Philip", "Phone Number": "458-857-3212","Place":"Florida" },
    { "name": "Penny", "Phone Number": "656-857-5454","Place":"Austin" }
]

y = mycol.insert_many(mylist)

print(y.inserted_ids)

[ObjectId('6384ecb70e764400cbcf7ada'), ObjectId('6384ecb70e764400cbcf7adb'), ObjectId('6384ecb70e764400cbcf7adc'), ObjectId('6384ecb70e764400cbcf7add'), ObjectId('6384ecb70e764400cbcf7ade')]

In [14]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('6384dd770e764400cbcf7acf'), 'name': 'Albert', 'Phone Number': '555-884-4512', 'Place': 'New York'}

In [15]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6384dd770e764400cbcf7acf'), 'name': 'Albert', 'Phone Number': '555-884-4512', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7ada'), 'name': 'George', 'Phone Number': '445-878-6589', 'Place': 'Florida'}
{'_id': ObjectId('6384ecb70e764400cbcf7adb'), 'name': 'Jane', 'Phone Number': '554-567-7894', 'Place': 'Austin'}
{'_id': ObjectId('6384ecb70e764400cbcf7adc'), 'name': 'Llyod', 'Phone Number': '558-898-4575', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7add'), 'name': 'Philip', 'Phone Number': '458-857-3212', 'Place': 'Florida'}
{'_id': ObjectId('6384ecb70e764400cbcf7ade'), 'name': 'Penny', 'Phone Number': '656-857-5454', 'Place': 'Austin'}

In [16]:
Qy = { "Place": "Florida" }
newdata = { "$set": { "Place": "Tampa" } }

mycol.update_one(Qy, newdata)

for x in mycol.find():
  print(x)

{'_id': ObjectId('6384dd770e764400cbcf7acf'), 'name': 'Albert', 'Phone Number': '555-884-4512', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7ada'), 'name': 'George', 'Phone Number': '445-878-6589', 'Place': 'Tampa'}
{'_id': ObjectId('6384ecb70e764400cbcf7adb'), 'name': 'Jane', 'Phone Number': '554-567-7894', 'Place': 'Austin'}
{'_id': ObjectId('6384ecb70e764400cbcf7adc'), 'name': 'Llyod', 'Phone Number': '558-898-4575', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7add'), 'name': 'Philip', 'Phone Number': '458-857-3212', 'Place': 'Florida'}
{'_id': ObjectId('6384ecb70e764400cbcf7ade'), 'name': 'Penny', 'Phone Number': '656-857-5454', 'Place': 'Austin'}

In [17]:
Q = { "Place": "Austin" }

mycol.delete_one(Q)

for x in mycol.find():
  print(x)

{'_id': ObjectId('6384dd770e764400cbcf7acf'), 'name': 'Albert', 'Phone Number': '555-884-4512', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7ada'), 'name': 'George', 'Phone Number': '445-878-6589', 'Place': 'Tampa'}
{'_id': ObjectId('6384ecb70e764400cbcf7adc'), 'name': 'Llyod', 'Phone Number': '558-898-4575', 'Place': 'New York'}
{'_id': ObjectId('6384ecb70e764400cbcf7add'), 'name': 'Philip', 'Phone Number': '458-857-3212', 'Place': 'Florida'}
{'_id': ObjectId('6384ecb70e764400cbcf7ade'), 'name': 'Penny', 'Phone Number': '656-857-5454', 'Place': 'Austin'}